body{
   background-color: black;
    padding: 0;
    margin: 0;
    font-family:  Helvetica, Arial , sans-serif;
    max-width: 100vw;
}
header{
    max-width: 100vw;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}

.header-cont{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    
}
.container{
    width: 100%;
   max-width: 2942px;
   margin: 0 auto;
}
.left-cont,.right-cont{
    display: flex;
    align-items: center;
    
}
.logo{
    max-width: 100px;
    cursor: pointer;
}
.right-cont svg{
    color: aliceblue;
}
.main-nav{
    list-style: none;
    display: flex;
    align-items: center;
    
    
 
}

.nav-item:hover{
color: rgb(204, 204, 204);
}
.nav-item{
    color: #e5e5e5;
    margin-right: 20px;
    cursor: pointer;
}
.nav-item .active{
    color: white;
}
.right-cont svg, .right-cont img{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont img{
    max-width: 36px;
}
.movies-section{

}
.movie-section-heading{
font-size: 26.8;
font-weight: 700;
line-height: 1.2 ;
color: #e5e5e5;
cursor: pointer;
margin-bottom: 10px;
}
.explore{
color: #54B9C5;
font-size: 17.28px;
display: none;
}
.movie-section-heading:hover .explore{
    display: inline;

}
*::-webkit-scrollbar{
    display: none;
}
.movies-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.movies_cont{
    position: relative;
    bottom: 100px;
     flex-wrap: wrap; 
}
.movie_item{
    width: 300px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 20px;
}
.movie_item:hover{
    transform: scale(1.2);
    transition: transform ease 300ms;
}
.movie-section-heading{
    margin-left: 30px;
}
.banner-section{
    
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 60px; 
    max-width: 50%;
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: flex-start;
}
.banner-title{
height:150px;
width: 1500px;
color: rgb(255, 255, 255);
font-size: 5vw;
margin: 0;
margin-top: 200px;


}
.banner-info{
    color: red;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 50%;
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 10;
}
.banner-overview{
    margin-top: 0px;
    font-size: 20.4px;
    font-weight: 600;
    width: 600px;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    position: relative;
    overflow: hidden;
}
.action-button-cont{
    display: flex;
    align-items: center;
}
.action-btn{
    border: none;
    background-color: white;
    padding: 11.52px 34px 11.52px 28.8px;
    margin: 0 20.4px 20.4px 0;
    margin-top: 20px;
    border-radius: 4px;
    flex-direction: row;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.action-btn:hover{
    background-color: rgba(233, 228, 228, 0.7);
}
.info:hover{
    background-color: rgba(68, 66, 66, 0.7);
}
.info{
    background-color:rgba(109,109,110,0.7) ;
    color: white;
}
.header-scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in-out;
}

/* Define the styles for the header at the top of the page */
.header-transparent {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
.banner-fade{
    height: 120px;
    position: absolute;
    background: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.61),#000000);
    left: 0;
    bottom: 0;
    width: 100%;
    
}
/* Styles for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}
.movie-box{
    background-color: black;
    width: 850px;
    height: 10vh;
    margin-top: 100px
}

/* Styles for the movie details box */
.movie-box {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    padding: 20px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(7, 6, 6, 0.1);
    background-color: rgb(24, 22, 22);
    width: 850px;
    height: 100vh;
    overflow-y: auto;
    
}
.padd{
    padding-left: 15px;
}
.padd:last-child{
    
}
.no-scroll {
    overflow: hidden;
}
.card{
    border-radius: 5px;
    background-color: #4b484883;
    width: 250px;
    height: 330px;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 8px;
    
}

 .img{
    width: 888px;
    position: relative;
    bottom: 69px;
    right: 19px;

}
.btt{
   position: relative;
   bottom: 140px;

}
.heading{
    color: white;
    font-size: 26px;
    margin-top: 0px;
}
.similar-movies-row{
   display: flex;
    color: white;
}
.buttonControls--container{
    display: flex;
    position: relative;
    bottom: 130px;
    
}
.primary-button button{
    cursor: pointer;
    background-color:rgba(22, 18, 18, 0.199);
    padding: 8px 60px 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    bottom: 5px;
    color: white;

}
.title{
    font-size: 40px;
}
.color-supplementary{
    cursor: pointer;
    margin-right: 10px;
    color: aliceblue;
    background-color:rgba(2, 2, 2, 0.384) ;
    border-radius: 100%;
    border: none;
    margin-top: 6px;
    border: 4px solid wheat;
   
}
.ltr-1st24vv {
    width: 40px;
    height: 40px;
}
.small {
    font-weight: 800;
    padding-top: 7px;
}
.close-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: white;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.404);
    position: sticky;
    float: right; /* Change from 'absolute' to 'fixed' */
    right: 10; /* Adjust as needed */
    top: 0; /* Adjust as needed */
    z-index: 9999; /* Adjust the z-index as needed to make sure the button is above other content */
    transition: top 0.3s ease-in-out; /* Add a transition effect for smooth movement */
}
.similar-movie{
    border-radius: 5px;
    width: 250px;
    height: 150px;
}
a{
    text-decoration: none;
}
.movie-details-header{
    position: relative;
    bottom: 100px;
    font-size: 15px;
}
.overview{
    position: relative;
    bottom: 20px;
}

.q{
    text-align: justify;
    padding-right: 15px;
    font-size: 15px;
}


.v{
    display: flex;
}body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color: #111111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 40px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns:  1fr 0.3fr 1fr;
    gap: 10px;
    margin-top: 40px;
  }
  
  .footer li {
    margin: 0;
    padding: 1px;
    text-align: center;
  }
@media screen  and (max-width: 768px) {
    .main-nav{
        display: none;
    }
    header{
        max-width: 100vw;
        background-color: transparent;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
    }
    .container{
        max-width: 100vw;
    }
    
    .right-cont{
        position: relative;
        left: 14px;
    }
 
    .banner-title{
        height: 10vh;
        width: 90vw;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        margin: 0;
        margin-top: 100px;   
        }
        .banner-content{
            max-width: 90vw;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: 30px; 
            display: flex;
            flex-direction: column; /* Display items vertically */
            align-items: flex-start;
        }.banner-info{
            margin-top: 1000000px;
            color: red;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.5;
            max-width: 80vw;
            margin-top: 0;
            padding-top: 0px;
        }
        .banner-overview{
            font-size: 1rem;
            font-weight: 600;
            width: 80vw;
            color: rgb(255, 255, 255);
            line-height: 1.3;
        }
        .action-btn{
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            bottom:20px;
            border-radius: 4px;
            flex-direction: row;
            font-size: 0.9rem;
            font-weight: 800;
            align-items: center;
            cursor: pointer;
        }
        .banner-section{
            max-width: 100vw;
            min-height: 0vh;
            position: relative;
            background-repeat: no-repeat;
            background-blend-mode: darken;
            background-size: cover;
        }
        .movies_cont{
            position: relative;
            bottom: 0px;
           
        }
       .movies-row{
       max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.movie_item{
    max-width: 50vw;
    max-height: 80px;
    object-fit:contain;
    border-radius: 4px;
    margin-right: 10px;
}
.movie-section-heading{
    margin-left: 10px;
    margin-right: 0;
    max-width: 100vw;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2 ;
    color: #e5e5e5;
    cursor: pointer;
    margin-bottom: 10px;
    }
    .movie-box{
        background-color: rgb(20, 18, 18);
        width: 100vw;
        height: 100vh;
        margin-top: 90px
    }
    .img{
        width: 105vw;
        position: relative;
        bottom: 69px;
        right: 19px;
    
    }
    .primary-button button {
        cursor: pointer;
        background-color: rgba(22, 18, 18, 0.199);
        padding: 5px 7px 4px;
        border-radius: 4px;
        border: none;
        margin-right: 14px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        bottom: -8px;
        color: white;
    }
    .color-supplementary {
        cursor: pointer;
        margin-right: 9px;
        color: aliceblue;
        background-color: rgba(2, 2, 2, 0.384);
        border-radius: 100%;
        border: none;
        margin-top: 10px;
        border: -11px solid wheat;
    }
    .close-button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        color: white;
        padding: 9px;
        background-color: rgba(0, 0, 0, 0.404);
        position: sticky;
        float: right;
        right: 5px;
        z-index: 9999;
        transition: top 0.3s ease-in-out;
        margin-bottom: 0px;
    }
    .title{
        margin-left: 10px;
        font-size: 1.7rem;
        max-width: 80vw;
    }
    .overview{
        font-size: 0.9rem;
        margin-left: 10px;
        max-width: 80vw;
    }
   .movie-details-content{
    max-width: 100vw;
   }
   .heading{
    font-size: 1.5rem;
   }
 
   .card{

    border-radius: 10px;
    background-color: #4b484883;
    max-width: 30vw;
    height: 22vh;
    margin-right: 2px;
    margin-bottom: 35px;
    margin-left: 8px;
    overflow: hidden;
}
.similar-movie{
    border-radius: 5px;
    width: 30vw;
    height: 22vw;
}
.padd{
    position: relative;
    bottom: 10px;
    padding-left: 10px;
    font-size: 0.5rem;
}
.q{
    text-align: justify;
    padding-right: 5px;
    font-size: 0.5rem;
    
}
.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 10px ;
    margin: 0 2px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 4fr 4fr  2fr; 
    margin-top: 5px;
  }
  
  .footer li {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}





